<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Details</h2>
      <br>
      <br> ID: <%=student._id %>
      <br> given: <%=student.given%>
      <br> family: <%=student.family%>
      <br> email: <%=student.email%>
      <br> GPA: <%=student.GPA %>
      <br> GitHub: <%=student.GitHub %>
      <br> WebSite: <%=student.WebSite %>
      <br> SectionID: <%=student.SectionID %>
      <hr>

      <form method="get" action="/student">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>